.container {
  padding: 40px 15px 0 15px;
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
}

.character-header {
  margin-top: 20px;
}

.MuiToggleButtonGroup-grouped img {
  height: 11px;
}

.MuiTableCell-root img.character-thumb {
  width: 50px;
  height: 50px;
  border: 2px solid #333;
  border-radius: 10px;
  background-color: #fff;
}

.MuiTableCell-root img.character-pixel {
  width: 50px;
  height: 50px;
  object-fit: none;
  object-position: 50% 47%;
}

img.star,
img.element,
img.rarity,
img.flip-type,
img.class {
  height: 18px;
}

.MuiGrid-item img.character-full {
  width: 100%;
  border-radius: 10px;
  padding: 15px;
  cursor: pointer;
}

.MuiDialogActions-root .MuiButton-root {
  width: 100%;
}

.character-detail-table {
  border: 1px solid #dee2e6;
  width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
  border-collapse: collapse;
  font-size: 0.9rem;
}

.character-detail-table th {
  border: 1px solid #dee2e6;
  text-align: center;
  padding: 5px;
  background-color: #f0f0f0;
  vertical-align: middle;
}

.character-detail-table td {
  border: 1px solid #dee2e6;
  padding: 5px;
}

.character-detail-table td small {
  color: #6c757d;
}

.character-detail-table td div.character-detail-text:not(:first-child) {
  padding-top: 1rem;
}
